.complete{
display: grid;
grid-template-columns: auto auto auto;
  /* grid-template-areas:
    'main-image main-image main-image product-information product-information product-information'
    'main-image main-image main-image product-information product-information product-information'; */
  gap: 2rem;
  padding: 10px;
}
.complete > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    /* padding: 20px 0; */
}

.container-product{
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-bottom: 0;

}
.container-product > p{
    align-self: flex-start;
    margin-bottom: 1rem;
    color:#d10000;
    font-weight: 700;
}
.information{
    text-align: left;
    font-size: 2rem;
}
.product_title{
    text-transform: uppercase;
    font-weight: 700;
}

.starting{
    font-size: 0.8rem;
    color: rgb(117, 117, 117);
    margin: 2.8rem 0 1rem 0;
}
.product_price{
    font-size: 2rem;
    color: black;
    font-weight: 700;
    margin: 0 0 1.6rem 0;
}
.product_description{
    font-size: 1.8rem;
    color: rgb(117, 117, 117);
    margin: 0.3rem 0 0 0;
}


