@font-face {
  font-family: 'CircularSTD';
  src: url('./fonts/Circular-Std-Bold.otf') format('openType');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  min-height: 100vh;
  font-family: 'CircularSTD';;
}

hr.solid {
  border-top: 0.8px solid #eee;
  margin-bottom: 1.2rem;
}

.img-logo{
  display: flex;
  justify-content: center;
  margin:1.3rem;
}

